<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.acceleo.ide.ui.launching.launchConfigurationType">
<stringAttribute key="org.eclipse.acceleo.ide.ui.ARGUMENTS" value=""/>
<booleanAttribute key="org.eclipse.acceleo.ide.ui.COMPUTE_PROFILING" value="false"/>
<booleanAttribute key="org.eclipse.acceleo.ide.ui.COMPUTE_TRACEABILITY" value="false"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.LAUNCHING_STRATEGY_DESCRIPTION" value="Java Application"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.MODEL_PATH" value="/runtime-EclipseApplication/Examples/DefinitiveExamples/example2.pipelineproject"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.TARGET_PATH" value="/it.ase.project.acceleo/examples"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/it.ase.project.acceleo/src/it/ase/project/acceleo/common/Generate.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="it.ase.project.acceleo.common.Generate"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;C:/Users/Utente/runtime-EclipseApplication/Examples/DefinitiveExamples/example2.pipelineproject&quot; &quot;C:/Users/Utente/runtime-EclipseApplication/it.ase.project.acceleo/examples&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="it.ase.project.acceleo"/>
</launchConfiguration>
